# User Service (PHP)
APP_ENV=local
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=users
DB_USERNAME=user
DB_PASSWORD=password
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Enrichment Service (Node.js)
NODE_ENV=development
MONGO_URI=mongodb://mongo:27017/enrichment
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Front-end
REACT_APP_API_URL=http://localhost:8080
REACT_APP_ENRICH_URL=http://localhost:8081
